*::-webkit-scrollbar {
	width: 12px;
}

*::-webkit-scrollbar-track {
	background: #FFF;
}

*::-webkit-scrollbar-thumb {
	background-color: aquamarine;
	border-radius: 10px;
	border: 3px solid #FFF;
}